body {
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}

.fhir-app {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
    padding: 20px;
}

.details-background {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.sidebar {
    background-color: #007bff;
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.sidebar h3 {
    color: white;
    margin: 0 0 10px 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    padding: 10px 15px;
    color: white;
    cursor: pointer;
    font-weight: 400;
    transition: background-color 0.3s;
}

.sidebar li:hover {
    background-color: #0056b3;
    transform: scale(1.2);
}

.details {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
}


.details h3 {
    color: #2196F3;
}

@media (min-width: 768px) {

    .fhir-app {
        grid-template-columns: 1fr 2fr;
    }
}

@media (min-width: 992px) {

    .fhir-app {
        grid-template-columns: 1fr 3fr;
    }
}